<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">Information for you</h1>
        <hr style="color: blue;">
    </header>
    <section id="modal-body">
        <p>On this page, you may see the list of sportsmen that belong to the same section as you're. 
            <br>Thanks for using YouthCare!</p>
    </section>
    <footer id="modal-footer">
        <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">Go back</button>
    </footer>
</div>
