<div class="silder">
    <div class="silder-content">
      <h1 id="main-title">YouthCare</h1>
    </div>
  </div>
  
  <div class="features">
      <h1 id="about" translate>about-main.about</h1>
      <div class="row">
        <div class="column">
          <mat-icon aria-hidden="false" aria-label="Example home icon">question_answer</mat-icon>
          <h3 id="disease_title" translate>about-main.disease_title</h3>
          <p id="disease_body" translate>about-main.disease_body
          </p>
        </div>
        <div class="column">
          <mat-icon aria-hidden="false" aria-label="Example home icon">medical_services</mat-icon>
          <h3 id="purpose_title" translate>about-main.purpose_title </h3>
          <p id="purpose_body" translate>about-main.purpose_body
          </p>
        </div>
        <div class="column">
          <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
          <h3 id="suggest_title" translate>about-main.suggest_title</h3>
          <p id="suggest_body" translate>about-main.suggest_body
          </p>
        </div>
      </div>
    </div>
  