<mat-nav-list>
    <div class="profile-card" *ngIf="userDetails">
        <label class="hoverable" for="fileInput">
            <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'"> 
            <div class="hover-text">Update picture</div>
            <div class="background"></div>
        </label>
        <br/>
        <input id="fileInput" type="file" (change)="OnSelectFile($event)">
        <div class="header">
            <h3 id="name_sidebar">{{'registration.name' | translate}}: {{userDetails.name}} {{userDetails.surname}}</h3>
            <h3>{{'registration.username' | translate}}: {{userDetails.userName}}</h3>
            <h3>{{'registration.email' | translate}}: {{userDetails.email }}</h3>
        </div>
    </div>
    <mat-divider></mat-divider>

    <h2 matSubheader>{{'sidebar-all.activity' | translate}}</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/users">
        <mat-icon>description</mat-icon>
        {{'sidebar-all.all_users_admin' | translate}}</a>
    <a mat-list-item (click)="getBackup();"><mat-icon>done</mat-icon>
        {{'sidebar-all.backup_admin' | translate}}</a>
        
    <mat-divider></mat-divider>
    <h2 matSubheader>{{'sidebar-all.activity_2' | translate}}</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>import_contacts</mat-icon>
    {{'sidebar-all.page_1' | translate}}
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>import_contacts</mat-icon>
        {{'sidebar-all.page_2' | translate}}
    </a>

</mat-nav-list>
