.btn-round {
    border-radius: 30px;
}
.btn-danger {
    color: #fff;
    background-color: #f44336;
    border-color: #f44336;
    height: 40px;
    margin: 10px;
    
}
table {
    font-family: 'Yu Gothic';
}
table > tr {
    vertical-align: middle;
}