<div class="row mb-4">
    <div class="btn-group" name='container' *ngIf="userDetails">
        <button mat-raised-button type="submit" class="btn btn-danger btn-round" (click)="unreadMessage()" (click)="loadMessage(userDetails.userName)">
            <mat-icon>markunread</mat-icon> {{'chat.unread' | translate }}
        </button>
        <button mat-raised-button type="submit" class="btn btn-danger btn-round" (click)="inboxMessage()" (click)="loadMessage(userDetails.userName)">
            <mat-icon>move_to_inbox</mat-icon> {{'chat.inbox' | translate }}
        </button>
        <button mat-raised-button type="submit" class="btn btn-danger btn-round" (click)="outboxMessage()" (click)="loadMessage(userDetails.userName)">
            <mat-icon>work_outline</mat-icon> {{'chat.outbox' | translate }}
        </button>
    </div>
</div>

<div class="row" *ngIf="messages?.length === 0">
    <h3>{{'chat.no' | translate }}</h3>
</div>

<br>
<div class="row" *ngIf="messages?.length > 0">
    <mat-paginator (page)="onPageChange($event)" [length]="messages?.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
    <table class="table table-hover" style="cursor: pointer">
        <tr>
            <th style="width: 40%">Message</th>
            <th style="width: 20%">From / To</th>
            <th style="width: 20%">Sent / Received</th>
            <th style="width: 20%"></th>
        </tr>
        <tr [hidden]="loading" *ngFor="let message of messagesToShow" routerLink='{{container === "Outbox" 
        ? "/sportsman/chat/" + message.recepientUsername 
        : "/sportsman/chat/" + message.senderUsername}}' style="text-align: center;">
            <td style="word-wrap:break-word;">{{message.content}}</td>    
            <td>
                <div *ngIf="container === 'Outbox'">
                    <strong>{{message.recepientUsername}}</strong>
                </div> 
                <div *ngIf="container !== 'Outbox'">
                    <strong>{{message.senderUsername}}</strong>
                </div> 
            </td>
            <td>{{message.messageSent | date:'full'}}</td>
            <td>
                <button mat-mini-fab color="warn" class='btn' (click)="$event.stopPropagation()" (click)="deleteMessage(message.id);">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </tr>
    </table>
</div><br><br><br>
